environment:
    # ...other definitions
    STORAGE_BACKEND: s3
    GLOBAL_S3_BUCKET: supabase
    GLOBAL_S3_ENDPOINT: https://storage.yourdomain.com
    GLOBAL_S3_PROTOCOL: https 
    REGION: eu-south #whatever your region is
    AWS_DEFAULT_REGION: eu-south

    #this next one seems important for minio
    GLOBAL_S3_FORCE_PATH_STYLE: true
    AWS_ACCESS_KEY_ID: your_s3_access_key
    AWS_SECRET_ACCESS_KEY: your_secret_s3_access_key


{
"url":"https://minio.mondaha.com/api/v1/service-account-credentials",
"accessKey":"iNfTcxdJRw2IqIhnDAD8",
"secretKey":"Ggp9ugLPlh5YlFamLgFwapAKBMOHWKVhnHfLluey",
"api":"s3v4",
"path":"auto"
}


SITE_URL=https://yourapp.com

# use whatever additional urls you need
ADDITIONAL_REDIRECT_URLS=http://localhost:3000,http://localhost:6000


location / {
	proxy_set_header  Authorization $http_authorization;
	proxy_pass_header Authorization;
	proxy_pass $forward_scheme://studio:3000;
}

location /storage {
	proxy_set_header  Authorization $http_authorization;
	proxy_pass_header Authorization;
	proxy_pass $forward_scheme://kong:8000;
}

location /auth {
	proxy_set_header  Authorization $http_authorization;
	proxy_pass_header Authorization;
	proxy_pass $forward_scheme://kong:8000;
